# use glob syntax.
syntax: glob


*.elc
*.pyc
*.wsgic
*.bak
*~
.DS_Store
*#
.sass-cache/
src/static/js/lib/firebug-lite/
src/static/json/*.json

classes/
.classpath
.project
.settings/

venv/
.python-eggs/

# switch to regexp syntax.
syntax: regexp
Guardfile
Gemfile
Gemfile.lock
